body {
    margin: 0;
    padding: 0;
    height: 100%;

}

.namepagina{
    color: #080370; 
    background-color: #c3c0f6;
    padding: 5px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;     
}

.botoes_login_cadastro {
    padding: 30px;
    display: flex;
    flex-direction: row;    
    justify-content: center;
    gap: 20px; 
}

.botao {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #080370;
    text-decoration: dashed;
    border-radius: 10px;
    
}

.botao:hover {
    background-color:  #0a00c2;
}