<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Safe Task</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_cadastro.css') }}">
</head>

<header>

    <div class="namepagina">
        <h1>Safe Task</h1>
    </div>
    
</header>

<body>
    

    <section class="container">
        <div class="form_cadastro">
            <h2>Cadastre-se</h2>
            <p>É novo? Crie sua conta em instantes</p>

            <form action="" method="post">
                <input type="text" id="nome" name="nome" placeholder="Digite seu nome" required>
                <input type="email" id="email" name="email" placeholder="Digite seu e-mail" required>
                <input type="text" id="telefone" name="telefone" placeholder="Digite seu telefone" required>
                <input type="password" id="senha" name="senha" placeholder="Digite sua senha" required>
                <input type="password" id="senha2" name="senha2" placeholder="Confirmar a senha" required>
                <input type="submit" id="registrar" value="Registrar">
                <button type="reset">Limpar</button>
                

                {% if erro %}
                    <p style="color: red;">{{ erro }}</p>
                {% endif %}
            </form>
        </div>
    </section>
</body>

</html>
