<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Usuario</title>
</head>

<body>

    <section>
        <h2>Cadastre-se</h2>
        <p>É novo? Crie sua conta em instantes</p>

        <form action="" method="post">

            <input type="text" id="nome" name="nome" placeholder="Digite seu nome" >
            <input type="email" id="email" name="email" placeholder="Digite seu e-mail" >
            <input type="text" id="telefone" name="telefone" placeholder="Digite seu telefone" >
            <input type="password" id="senha" name="senha" placeholder="Digite sua senha" >
            <button type="reset">Limpar</button>
            <input type = 'submit' value = 'Registrar'><br>


        </form>


    </section>



</body>

</html>