<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Safe Task</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<header>

    <div class="namepagina">
        <h1>Safe Task</h1>
    </div>

</header>

<body>

    <div class="botoes_login_cadastro">
    <a href = '/cadastro_page' class="botao"> Cadastro de Usuário </a>
    <a href = '/login' class="botao"> Login </a>
    </div>

    <ul></ul>
        {% for usuario in usuarios %}
            <li> 
                {{usuario.nome}} - {{usuario.email}} - {{usuario.telefone}} - {{usuario.senha}}           
            </li>
        {% endfor %}
    </ul>

    

</body>

</html>