<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <main>
        
        <section>
            <h2>Login</h2>
            <p>Já possui conta? Entre agora</p>

            <form>
                <input type="email" id="email" name="email" placeholder="Digite seu e-mail" required>
                <input type="password" id="senha" name="senha" placeholder="Digite sua senha" required>
                <button type="reset">Limpar</button>
                
                

            </form>

            <div>
            <a href=""><button type="submit" id="botaoentrar">Entrar</button></a>
            <br><br> Ainda não possui conta? Clique no botão ao lado para cadastrar-se
            <a href=><button type="button" id="botaocadastro">Cadastro</button></a>
            </div>
            
        </section>
    </main>

</body>

</html>