<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Safe Task</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_tarefas.css') }}">
</head>

<header>

    <div class="namepagina">
        <h1>Safe Task</h1>
    </div>

</header>

<body>
    <h1 class="nome_usuario">Tarefas de {{ usuario.nome }}</h1>
    
    
    <div>
        <a href="/tarefas_page/{{ usuario.id }}?status=pendente">Pendentes</a> |
        <a href="/tarefas_page/{{ usuario.id }}?status=em andamento">Em Andamento</a> |
        <a href="/tarefas_page/{{ usuario.id }}?status=concluída">Concluídas</a> |
        <a href="/tarefas_page/{{ usuario.id }}">Todas</a> 
    </div>

    <ul>
        {% for tarefa in tarefas %}
            <li>
                <strong>{{ tarefa.titulo }}</strong> - {{ tarefa.status }}
                <p>Início: {{ tarefa.data_inicio }}</p>
                <p>Fim: {{ tarefa.data_fim }}</p>
                <p>{{ tarefa.descricao }}</p>
                <a href="/editar_tarefa/{{ tarefa.id }}">Editar</a> 
                <a href = '/deletar_tarefa/{{tarefa.id}}'> Excluir </a>
            </li>
        {% else %}
            <p>Não há tarefas para o status selecionado.</p>
        {% endfor %}
    </ul>

    <a href="/tarefas/{{ usuario.id }}">Adicionar Nova Tarefa</a>
</body>
</html>
